[submodule "crates/kvitto-core"]
	path = crates/kvitto-core
	url = ../kvitto-core
[submodule "crates/kvitto-ica"]
	path = crates/kvitto-ica
	url = ../kvitto-ica
[submodule "crates/kvitto-willys"]
	path = crates/kvitto-willys
	url = ../kvitto-willys
